<a href="https://colab.research.google.com/github/fahminmahili/business-retail-sales-analytics-pyspark/blob/main/BigDataAnalyticsOnBusinessRetailSalesDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Task 1: Importing Required Libraries, Loading the Dataset, Performing RDD Transformations(map, filter, reduceByKey, count, and groupBy)

In [28]:
!pip install -q findspark

In [30]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [8]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Big Data Analytics On Business Retail Sales Dataset").getOrCreate()

# Load the dataset
file_path = "/content/drive/MyDrive/Assignment2/superstore_dataset2011-2015.csv"
rdd_data = spark.read.csv(file_path, header=True, inferSchema=True)

rdd_data.show()

+------+---------------+----------+---------+--------------+-----------+-----------------+-----------+-------------+----------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+-------+--------+--------+-------+-------------+--------------+
|Row ID|       Order ID|Order Date|Ship Date|     Ship Mode|Customer ID|    Customer Name|    Segment|         City|           State|      Country|Postal Code|Market|      Region|      Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount| Profit|Shipping Cost|Order Priority|
+------+---------------+----------+---------+--------------+-----------+-----------------+-----------+-------------+----------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+-------+--------+--------+-------+-------------+--------------+
| 42433|   AG-2011-2040|  1/1/2011| 6/1/2011|Standard Class|   TB-11280|  Toby Braunhardt|   Consumer|  Constantine|     Constantine|      Algeria|       NULL|Africa|      Africa|OFF-TEN-10000025|Office Supplies|     Storage| Tenex Lockers, Blue|  408.3|       2|       0| 106.14|        35.46|        Medium|
| 22253|  IN-2011-47883|  1/1/2011| 8/1/2011|Standard Class|   JH-15985|      Joseph Holt|   Consumer|  Wagga Wagga| New South Wales|    Australia|       NULL|  APAC|     Oceania| OFF-SU-10000618|Office Supplies|    Supplies|Acme Trimmer, Hig...|120.366|       3|     0.1| 36.036|         9.72|        Medium|
| 48883|   HU-2011-1220|  1/1/2011| 5/1/2011|  Second Class|     AT-735|    Annie Thurman|   Consumer|     Budapest|        Budapest|      Hungary|       NULL|  EMEA|        EMEA|OFF-TEN-10001585|Office Supplies|     Storage|Tenex Box, Single...|  66.12|       4|       0|  29.64|         8.17|          High|
| 11731|IT-2011-3647632|  1/1/2011| 5/1/2011|  Second Class|   EM-14140|     Eugene Moren|Home Office|    Stockholm|       Stockholm|       Sweden|       NULL|    EU|       North| OFF-PA-10001492|Office Supplies|       Paper|Enermax Note Card...| 44.865|       3|     0.5|-26.055|         4.82|          High|
| 22255|  IN-2011-47883|  1/1/2011| 8/1/2011|Standard Class|   JH-15985|      Joseph Holt|   Consumer|  Wagga Wagga| New South Wales|    Australia|       NULL|  APAC|     Oceania| FUR-FU-10003447|      Furniture| Furnishings|Eldon Light Bulb,...| 113.67|       5|     0.1|  37.77|          4.7|        Medium|
| 22254|  IN-2011-47883|  1/1/2011| 8/1/2011|Standard Class|   JH-15985|      Joseph Holt|   Consumer|  Wagga Wagga| New South Wales|    Australia|       NULL|  APAC|     Oceania| OFF-PA-10001968|Office Supplies|       Paper|Eaton Computer Pr...| 55.242|       2|     0.1| 15.342|          1.8|        Medium|
| 21613|  IN-2011-30733|  1/2/2011| 3/2/2011|  Second Class|   PO-18865|Patrick O'Donnell|   Consumer|        Dhaka|           Dhaka|   Bangladesh|       NULL|  APAC|Central Asia| TEC-CO-10002316|     Technology|     Copiers|Brother Personal ...| 285.78|       2|       0|   71.4|         57.3|      Critical|
| 34662| CA-2011-115161|  1/2/2011| 3/2/2011|   First Class|   LC-17050|     Liz Carlisle|   Consumer|Mission Viejo|      California|United States|      92691|    US|        West| FUR-BO-10003966|      Furniture|   Bookcases|Sauder Facets Col...|290.666|       2|    0.15| 3.4196|        54.64|          High|
| 44508|   AO-2011-1390|  1/2/2011| 4/2/2011|  Second Class|    DK-3150|   David Kendrick|  Corporate|       Luanda|          Luanda|       Angola|       NULL|Africa|      Africa|OFF-FEL-10001541|Office Supplies|     Storage|Fellowes Lockers,...|  206.4|       1|       0|  92.88|        53.08|      Critical|
| 23688|  ID-2011-56493|  1/2/2011| 3/2/2011|  Second Class|   SP-20650| Stephanie Phelps|  Corporate|    Yingcheng|           Hubei|        China|       NULL|  APAC|  North Asia| OFF-ST-10002161|Office Supplies|     Storage|Tenex Trays, Sing...| 162.72|       3|       0|  68.31|        44.36|      Critical|
| 25293|  IN-2011-36074|  1/2/2011| 5/2/2011|  Second Class|   DK-13150|   David Kendrick|  Corporate|    Chongqing|       Chongqing|        China|       NULL|  APAC|  North Asia| OFF-AP-10001254|Office Supplies|  Appliances|KitchenAid Coffee...| 352.35|       5|       0|  137.4|        33.15|        Medium|
|  8483| US-2011-118892|  1/2/2011| 6/2/2011|Standard Class|   DH-13075|    Dave Hallsten|  Corporate|San Miguelito|          Panama|       Panama|       NULL| LATAM|     Central| OFF-AP-10002317|Office Supplies|  Appliances|Hamilton Beach Re...|400.704|       2|     0.4| 20.024|        21.38|        Medium|
| 41445|   IR-2011-6550|  1/2/2011| 6/2/2011|Standard Class|    PO-8850|  Patrick O'Brill|   Consumer|      Mashhad| Razavi Khorasan|         Iran|       NULL|  EMEA|        EMEA|FUR-ADV-10002601|      Furniture| Furnishings|Advantus Photo Fr...|  309.6|       6|       0|  148.5|        19.65|          High|
| 16727|ES-2011-5268439|  1/2/2011| 3/2/2011|  Second Class|   GH-14485|        Gene Hale|  Corporate|  La Rochelle|Poitou-Charentes|       France|       NULL|    EU|     Central| OFF-AR-10001529|Office Supplies|         Art|Binney & Smith Pe...| 139.65|       5|       0|   15.3|        19.23|          High|
| 21615|  IN-2011-30733|  1/2/2011| 3/2/2011|  Second Class|   PO-18865|Patrick O'Donnell|   Consumer|        Dhaka|           Dhaka|   Bangladesh|       NULL|  APAC|Central Asia| OFF-SU-10000484|Office Supplies|    Supplies|Kleencut Ruler, H...|  40.68|       3|       0|  11.79|        11.13|      Critical|
|  8484| US-2011-118892|  1/2/2011| 6/2/2011|Standard Class|   DH-13075|    Dave Hallsten|  Corporate|San Miguelito|          Panama|       Panama|       NULL| LATAM|     Central| TEC-AC-10001221|     Technology| Accessories|Memorex Memory Ca...| 81.984|       2|     0.4|-19.136|         6.21|        Medium|
| 19796|ES-2011-5460465|  1/2/2011| 5/2/2011|Standard Class|   RR-19315|     Ralph Ritter|   Consumer|        Parma|  Emilia-Romagna|        Italy|       NULL|    EU|       South| OFF-AR-10000980|Office Supplies|         Art|Sanford Pencil Sh...|   78.3|       3|       0|  20.34|         6.03|        Medium|
| 21614|  IN-2011-30733|  1/2/2011| 3/2/2011|  Second Class|   PO-18865|Patrick O'Donnell|   Consumer|        Dhaka|           Dhaka|   Bangladesh|       NULL|  APAC|Central Asia| OFF-BI-10003012|Office Supplies|     Binders|Wilson Jones Hole...|  22.65|       5|       0|    9.6|         5.29|      Critical|
| 21616|  IN-2011-30733|  1/2/2011| 3/2/2011|  Second Class|   PO-18865|Patrick O'Donnell|   Consumer|        Dhaka|           Dhaka|   Bangladesh|       NULL|  APAC|Central Asia| OFF-LA-10001292|Office Supplies|      Labels|Smead File Folder...|  20.34|       3|       0|    9.9|         3.78|      Critical|
| 16726|ES-2011-5268439|  1/2/2011| 3/2/2011|  Second Class|   GH-14485|        Gene Hale|  Corporate|  La Rochelle|Poitou-Charentes|       France|       NULL|    EU|     Central| OFF-EN-10004597|Office Supplies|   Envelopes|GlobeWeis Peel an...|  21.39|       1|       0|    0.0|         3.34|          High|
+------+---------------+----------+---------+--------------+-----------+-----------------+-----------+-------------+----------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+-------+--------+--------+-------+-------------+--------------+
only showing top 20 rows

In [9]:
# Import necessary functions
from pyspark.sql.functions import col

# Map Transformation
mapped_rdd = rdd_data.rdd.map(lambda row: (row['Category'], row['Profit']))

# Filter Transformation
filtered_rdd = mapped_rdd.filter(lambda x: x[1] > 0)

# Reduce Transformation
reduced_rdd = filtered_rdd.reduceByKey(lambda x, y: x + y)

# Count Transformation
count_result = rdd_data.count()

# GroupBy Transformation
grouped_rdd = rdd_data.groupBy("Category").agg({"Profit": "sum"})

In [10]:
# Map Transformation
mapped_rdd = rdd_data.rdd.map(lambda row: (row['Category'], row['Profit']))
mapped_result = mapped_rdd.collect()
print("Mapped Result:")
for result in mapped_result[:5]:  # Display the first 5 results for brevity
    print(result)

Mapped Result:
('Office Supplies', 106.14)
('Office Supplies', 36.036)
('Office Supplies', 29.64)
('Office Supplies', -26.055)
('Furniture', 37.77)

In [11]:
# Filter Transformation
filtered_rdd = mapped_rdd.filter(lambda x: x[1] > 0)
filtered_result = filtered_rdd.collect()
print("\nFiltered Result:")
for result in filtered_result[:5]:  # Display the first 5 results for brevity
    print(result)

Filtered Result:
('Office Supplies', 106.14)
('Office Supplies', 36.036)
('Office Supplies', 29.64)
('Furniture', 37.77)
('Office Supplies', 15.342)

In [12]:
# Reduce Transformation
reduced_rdd = filtered_rdd.reduceByKey(lambda x, y: x + y)
reduced_result = reduced_rdd.collect()
print("\nReduced Result:")
for result in reduced_result[:5]:  # Display the first 5 results for brevity
    print(result)

Reduced Result:
('Furniture', 656161.5209000008)
('Office Supplies', 779424.8878000025)
('Technology', 950207.4800999991)

In [13]:
# Count Transformation
count_result = rdd_data.count()
print(f"\nCount Result: {count_result}")

Count Result: 51290

In [14]:
# GroupBy Transformation
grouped_rdd = rdd_data.groupBy("Category").agg({"Profit": "sum"})
grouped_result = grouped_rdd.collect()
print("\nGrouped Result:")
grouped_rdd.show()

Grouped Result:
+---------------+------------------+
|       Category|       sum(Profit)|
+---------------+------------------+
|Office Supplies|516615.91190000053|
|      Furniture| 286439.8782000004|
|     Technology| 663712.0816800005|
+---------------+------------------+

Task 2: Utilizing Spark SQL Queries (aggregation, filtering and sorting)

In [31]:
from pyspark.sql import SparkSession

# Create a temporary view
rdd_data.createOrReplaceTempView("superstore_data")

# Write SQL queries
aggregation_query = spark.sql("SELECT Category, SUM(Profit) as TotalProfit FROM superstore_data GROUP BY Category")
filtering_query = spark.sql("SELECT * FROM superstore_data WHERE Profit > 0")
sorting_query = spark.sql("SELECT * FROM superstore_data ORDER BY Profit DESC")

In [32]:
# Create a temporary view
rdd_data.createOrReplaceTempView("superstore_data")

# Write SQL queries
aggregation_query = spark.sql("SELECT Category, SUM(Profit) as TotalProfit FROM superstore_data GROUP BY Category")
print("Aggregation Query Result:")
aggregation_query.show()

Aggregation Query Result:
+---------------+------------------+
|       Category|       TotalProfit|
+---------------+------------------+
|Office Supplies|516615.91190000053|
|      Furniture| 286439.8782000004|
|     Technology| 663712.0816800005|
+---------------+------------------+

In [33]:
filtering_query = spark.sql("SELECT * FROM superstore_data WHERE Profit > 0")

print("\nFiltering Query Result:")
filtering_query.show()

Filtering Query Result:
+------+---------------+----------+---------+--------------+-----------+-----------------+---------+-------------+--------------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+-------+--------+--------+------+-------------+--------------+
|Row ID|       Order ID|Order Date|Ship Date|     Ship Mode|Customer ID|    Customer Name|  Segment|         City|               State|      Country|Postal Code|Market|      Region|      Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|Profit|Shipping Cost|Order Priority|
+------+---------------+----------+---------+--------------+-----------+-----------------+---------+-------------+--------------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+-------+--------+--------+------+-------------+--------------+
| 42433|   AG-2011-2040|  1/1/2011| 6/1/2011|Standard Class|   TB-11280|  Toby Braunhardt| Consumer|  Constantine|         Constantine|      Algeria|       NULL|Africa|      Africa|OFF-TEN-10000025|Office Supplies|     Storage| Tenex Lockers, Blue|  408.3|       2|       0|106.14|        35.46|        Medium|
| 22253|  IN-2011-47883|  1/1/2011| 8/1/2011|Standard Class|   JH-15985|      Joseph Holt| Consumer|  Wagga Wagga|     New South Wales|    Australia|       NULL|  APAC|     Oceania| OFF-SU-10000618|Office Supplies|    Supplies|Acme Trimmer, Hig...|120.366|       3|     0.1|36.036|         9.72|        Medium|
| 48883|   HU-2011-1220|  1/1/2011| 5/1/2011|  Second Class|     AT-735|    Annie Thurman| Consumer|     Budapest|            Budapest|      Hungary|       NULL|  EMEA|        EMEA|OFF-TEN-10001585|Office Supplies|     Storage|Tenex Box, Single...|  66.12|       4|       0| 29.64|         8.17|          High|
| 22255|  IN-2011-47883|  1/1/2011| 8/1/2011|Standard Class|   JH-15985|      Joseph Holt| Consumer|  Wagga Wagga|     New South Wales|    Australia|       NULL|  APAC|     Oceania| FUR-FU-10003447|      Furniture| Furnishings|Eldon Light Bulb,...| 113.67|       5|     0.1| 37.77|          4.7|        Medium|
| 22254|  IN-2011-47883|  1/1/2011| 8/1/2011|Standard Class|   JH-15985|      Joseph Holt| Consumer|  Wagga Wagga|     New South Wales|    Australia|       NULL|  APAC|     Oceania| OFF-PA-10001968|Office Supplies|       Paper|Eaton Computer Pr...| 55.242|       2|     0.1|15.342|          1.8|        Medium|
| 21613|  IN-2011-30733|  1/2/2011| 3/2/2011|  Second Class|   PO-18865|Patrick O'Donnell| Consumer|        Dhaka|               Dhaka|   Bangladesh|       NULL|  APAC|Central Asia| TEC-CO-10002316|     Technology|     Copiers|Brother Personal ...| 285.78|       2|       0|  71.4|         57.3|      Critical|
| 34662| CA-2011-115161|  1/2/2011| 3/2/2011|   First Class|   LC-17050|     Liz Carlisle| Consumer|Mission Viejo|          California|United States|      92691|    US|        West| FUR-BO-10003966|      Furniture|   Bookcases|Sauder Facets Col...|290.666|       2|    0.15|3.4196|        54.64|          High|
| 44508|   AO-2011-1390|  1/2/2011| 4/2/2011|  Second Class|    DK-3150|   David Kendrick|Corporate|       Luanda|              Luanda|       Angola|       NULL|Africa|      Africa|OFF-FEL-10001541|Office Supplies|     Storage|Fellowes Lockers,...|  206.4|       1|       0| 92.88|        53.08|      Critical|
| 23688|  ID-2011-56493|  1/2/2011| 3/2/2011|  Second Class|   SP-20650| Stephanie Phelps|Corporate|    Yingcheng|               Hubei|        China|       NULL|  APAC|  North Asia| OFF-ST-10002161|Office Supplies|     Storage|Tenex Trays, Sing...| 162.72|       3|       0| 68.31|        44.36|      Critical|
| 25293|  IN-2011-36074|  1/2/2011| 5/2/2011|  Second Class|   DK-13150|   David Kendrick|Corporate|    Chongqing|           Chongqing|        China|       NULL|  APAC|  North Asia| OFF-AP-10001254|Office Supplies|  Appliances|KitchenAid Coffee...| 352.35|       5|       0| 137.4|        33.15|        Medium|
|  8483| US-2011-118892|  1/2/2011| 6/2/2011|Standard Class|   DH-13075|    Dave Hallsten|Corporate|San Miguelito|              Panama|       Panama|       NULL| LATAM|     Central| OFF-AP-10002317|Office Supplies|  Appliances|Hamilton Beach Re...|400.704|       2|     0.4|20.024|        21.38|        Medium|
| 41445|   IR-2011-6550|  1/2/2011| 6/2/2011|Standard Class|    PO-8850|  Patrick O'Brill| Consumer|      Mashhad|     Razavi Khorasan|         Iran|       NULL|  EMEA|        EMEA|FUR-ADV-10002601|      Furniture| Furnishings|Advantus Photo Fr...|  309.6|       6|       0| 148.5|        19.65|          High|
| 16727|ES-2011-5268439|  1/2/2011| 3/2/2011|  Second Class|   GH-14485|        Gene Hale|Corporate|  La Rochelle|    Poitou-Charentes|       France|       NULL|    EU|     Central| OFF-AR-10001529|Office Supplies|         Art|Binney & Smith Pe...| 139.65|       5|       0|  15.3|        19.23|          High|
| 21615|  IN-2011-30733|  1/2/2011| 3/2/2011|  Second Class|   PO-18865|Patrick O'Donnell| Consumer|        Dhaka|               Dhaka|   Bangladesh|       NULL|  APAC|Central Asia| OFF-SU-10000484|Office Supplies|    Supplies|Kleencut Ruler, H...|  40.68|       3|       0| 11.79|        11.13|      Critical|
| 19796|ES-2011-5460465|  1/2/2011| 5/2/2011|Standard Class|   RR-19315|     Ralph Ritter| Consumer|        Parma|      Emilia-Romagna|        Italy|       NULL|    EU|       South| OFF-AR-10000980|Office Supplies|         Art|Sanford Pencil Sh...|   78.3|       3|       0| 20.34|         6.03|        Medium|
| 21614|  IN-2011-30733|  1/2/2011| 3/2/2011|  Second Class|   PO-18865|Patrick O'Donnell| Consumer|        Dhaka|               Dhaka|   Bangladesh|       NULL|  APAC|Central Asia| OFF-BI-10003012|Office Supplies|     Binders|Wilson Jones Hole...|  22.65|       5|       0|   9.6|         5.29|      Critical|
| 21616|  IN-2011-30733|  1/2/2011| 3/2/2011|  Second Class|   PO-18865|Patrick O'Donnell| Consumer|        Dhaka|               Dhaka|   Bangladesh|       NULL|  APAC|Central Asia| OFF-LA-10001292|Office Supplies|      Labels|Smead File Folder...|  20.34|       3|       0|   9.9|         3.78|      Critical|
| 14413|ES-2011-2205486|  1/2/2011| 7/2/2011|Standard Class|   IM-15055|    Ionia McGrath| Consumer|        Halle|North Rhine-Westp...|      Germany|       NULL|    EU|     Central| OFF-BI-10001249|Office Supplies|     Binders|Acco Hole Reinfor...|  21.06|       3|       0| 10.53|         1.86|        Medium|
| 14414|ES-2011-2205486|  1/2/2011| 7/2/2011|Standard Class|   IM-15055|    Ionia McGrath| Consumer|        Halle|North Rhine-Westp...|      Germany|       NULL|    EU|     Central| OFF-BI-10001717|Office Supplies|     Binders|Avery Hole Reinfo...|  11.82|       2|       0|   4.2|         0.93|        Medium|
| 44228|   CA-2011-1800|  1/3/2011| 4/3/2011|   First Class|   TP-11415|     Tom Prescott| Consumer|      Toronto|             Ontario|       Canada|       NULL|Canada|      Canada|OFF-FEL-10001405|Office Supplies|     Storage|Fellowes File Car...| 551.16|       4|       0| 71.64|       164.36|          High|
+------+---------------+----------+---------+--------------+-----------+-----------------+---------+-------------+--------------------+-------------+-----------+------+------------+----------------+---------------+------------+--------------------+-------+--------+--------+------+-------------+--------------+
only showing top 20 rows

In [35]:
sorting_query = spark.sql("SELECT * FROM superstore_data ORDER BY Profit DESC")

print("\nSorting Query Result:")
sorting_query.show()

Sorting Query Result:
+------+---------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+----------------+--------------+-----------+------+------------+----------------+---------------+------------+--------------------+---------+--------+--------+---------+-------------+--------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|       Customer Name|    Segment|         City|           State|       Country|Postal Code|Market|      Region|      Product ID|       Category|Sub-Category|        Product Name|    Sales|Quantity|Discount|   Profit|Shipping Cost|Order Priority|
+------+---------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+----------------+--------------+-----------+------+------------+----------------+---------------+------------+--------------------+---------+--------+--------+---------+-------------+--------------+
| 38123| CA-2013-118689| 3/10/2013|10/10/2013|Standard Class|   TC-20980|        Tamara Chand|  Corporate|    Lafayette|         Indiana| United States|      47905|    US|     Central| TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 17499.95|       5|       0| 8399.976|       349.07|        Medium|
| 39450| CA-2014-140151|24-03-2014|26-03-2014|   First Class|   RB-19360|        Raymond Buch|   Consumer|      Seattle|      Washington| United States|      98115|    US|        West| TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 13999.96|       4|       0|6719.9808|         20.0|        Medium|
| 35487| CA-2014-166709|18-11-2014|23-11-2014|Standard Class|   HL-15040|        Hunter Lopez|   Consumer|       Newark|        Delaware| United States|      19711|    US|        East| TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 10499.97|       3|       0|5039.9856|       363.19|        Medium|
| 40336| CA-2013-117121|18-12-2013|22-12-2013|Standard Class|   AB-10105|       Adrian Barton|   Consumer|      Detroit|        Michigan| United States|      48205|    US|     Central| OFF-BI-10000545|Office Supplies|     Binders|GBC Ibimaster 500...|  9892.74|      13|       0|  4946.37|        498.7|        Medium|
| 35395| CA-2011-116904|23-09-2011|28-09-2011|Standard Class|   SC-20095|        Sanjit Chand|   Consumer|  Minneapolis|       Minnesota| United States|      55407|    US|     Central| OFF-BI-10001120|Office Supplies|     Binders|Ibico EPK-21 Elec...|  9449.95|       5|       0|4630.4755|       655.61|        Medium|
| 12069|ES-2014-1651774|  8/9/2014|14-09-2014|Standard Class|   PJ-18835|       Patrick Jones|  Corporate|        Prato|         Tuscany|         Italy|       NULL|    EU|       South| OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red|  7958.58|      14|       0|  3979.08|       778.32|           Low|
| 33920| CA-2014-127180|23-10-2014|25-10-2014|   First Class|   TA-21385|        Tom Ashbrook|Home Office|New York City|        New York| United States|      10024|    US|        East| TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...|11199.968|       4|     0.2|3919.9888|        45.98|          High|
| 31806| CA-2012-145352|16-03-2012|22-03-2012|Standard Class|   CM-12385|Christopher Martinez|   Consumer|      Atlanta|         Georgia| United States|      30318|    US|       South| OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...|  6354.95|       5|       0| 3177.475|       581.12|        Medium|
| 27720|  ID-2011-64599| 10/2/2011|15-02-2011|Standard Class|   CA-11965|         Carol Adams|  Corporate|         Fuji|        Shizuoka|         Japan|       NULL|  APAC|  North Asia| TEC-PH-10000303|     Technology|      Phones|Samsung Smart Pho...|  6998.64|      11|       0|  2939.31|        413.8|        Medium|
| 23212|  IN-2013-50809| 12/6/2013|17-06-2013|Standard Class|   CA-12775|     Cynthia Arntzen|   Consumer|         Kota|    Chhattisgarh|         India|       NULL|  APAC|Central Asia| TEC-PH-10000169|     Technology|      Phones|Apple Smart Phone...|  5751.54|       9|       0|  2817.99|       353.85|        Medium|
| 39785| CA-2013-158841|  2/2/2013|  4/2/2013|  Second Class|   SE-20110|        Sanjit Engle|   Consumer|    Arlington|        Virginia| United States|      22204|    US|       South| TEC-MA-10001127|     Technology|    Machines|"HP Designjet T52...|  8749.95|       5|       0| 2799.984|        17.83|      Critical|
| 50788|   MO-2014-2000|28-10-2014|30-10-2014|  Second Class|    DP-3105|        Dave Poirier|  Corporate|       Meknes|Mekn�s-Tafilalet|       Morocco|       NULL|Africa|      Africa|TEC-CAN-10001437|     Technology|     Copiers|Canon Wireless Fa...|  5301.24|      14|       0|  2597.28|       568.45|        Medium|
| 38963| US-2013-140158| 5/10/2013| 9/10/2013|Standard Class|   DR-12940|       Daniel Raglin|Home Office|   Providence|    Rhode Island| United States|       2908|    US|        East| TEC-CO-10001449|     Technology|     Copiers|Hewlett Packard L...|  5399.91|       9|       0|2591.9568|       254.03|        Medium|
| 37817| CA-2014-138289|17-01-2014|19-01-2014|  Second Class|   AR-10540|         Andy Reiter|   Consumer|      Jackson|        Michigan| United States|      49201|    US|     Central| OFF-BI-10004995|Office Supplies|     Binders|GBC DocuBind P400...|  5443.96|       4|       0|2504.2216|       567.95|          High|
| 13560|ES-2011-3248922|  8/9/2011| 11/9/2011|  Second Class|   ER-13855|   Elpida Rittenbach|  Corporate|         Lugo|         Galicia|         Spain|       NULL|    EU|       South| OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|  6517.08|      12|       0|  2476.44|        28.74|      Critical|
| 12383|ES-2012-5671193|29-05-2012|29-05-2012|      Same Day|   MG-18145|     Mike Gockenbach|   Consumer|        Luton|         England|United Kingdom|       NULL|    EU|       North| TEC-PH-10004823|     Technology|      Phones|Nokia Smart Phone...|  5724.54|       9|       0|  2461.32|         2.34|        Medium|
| 30958|  IN-2013-83191|16-12-2013|20-12-2013|Standard Class|   AS-10630|          Ann Steele|Home Office|    Whakatane|   Bay of Plenty|   New Zealand|       NULL|  APAC|     Oceania| TEC-PH-10002962|     Technology|      Phones|Motorola Smart Ph...|   6439.8|      10|       0|   2447.1|       255.36|        Medium|
| 32382| US-2013-143819|  2/3/2013|  6/3/2013|Standard Class|   KD-16270|       Karen Daniels|   Consumer|      Yonkers|        New York| United States|      10701|    US|        East| TEC-MA-10003979|     Technology|    Machines|Ativa V4110MDD Mi...|  4899.93|       7|       0|2400.9657|       466.33|        Medium|
| 35574| US-2013-107440|17-04-2013|21-04-2013|Standard Class|   BS-11365|        Bill Shonely|  Corporate|     Lakewood|      New Jersey| United States|       8701|    US|        East| TEC-MA-10001047|     Technology|    Machines|3D Systems Cube P...|  9099.93|       7|       0|2365.9818|       516.91|        Medium|
| 21263|  IN-2014-56206|24-06-2014|28-06-2014|Standard Class|   MB-17305|     Maria Bertelson|   Consumer|       Sydney| New South Wales|     Australia|       NULL|  APAC|     Oceania| FUR-BO-10001471|      Furniture|   Bookcases|Sauder Classic Bo...|  5486.67|      14|     0.1|  2316.51|        346.6|        Medium|
+------+---------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+----------------+--------------+-----------+------+------------+----------------+---------------+------------+--------------------+---------+--------+--------+---------+-------------+--------------+
only showing top 20 rows

Task 3: Using Spark DataFrames (select, groupBy, orderBy)

In [36]:
from pyspark.sql import SparkSession

# Read the dataset using Spark DataFrames
df_data = spark.read.csv(file_path, header=True, inferSchema=True)

# Perform transformations and actions
selected_df = df_data.select("Category", "Profit")
grouped_df = df_data.groupBy("Category").agg({"Profit": "sum"})
ordered_df = df_data.orderBy("Profit", ascending=False)

In [37]:
# Read the dataset using Spark DataFrames
df_data = spark.read.csv(file_path, header=True, inferSchema=True)

# Perform Select transformation
print("Selected DataFrame:")
selected_df = df_data.select("Category", "Profit")
selected_df.show()

Selected DataFrame:
+---------------+-------+
|       Category| Profit|
+---------------+-------+
|Office Supplies| 106.14|
|Office Supplies| 36.036|
|Office Supplies|  29.64|
|Office Supplies|-26.055|
|      Furniture|  37.77|
|Office Supplies| 15.342|
|     Technology|   71.4|
|      Furniture| 3.4196|
|Office Supplies|  92.88|
|Office Supplies|  68.31|
|Office Supplies|  137.4|
|Office Supplies| 20.024|
|      Furniture|  148.5|
|Office Supplies|   15.3|
|Office Supplies|  11.79|
|     Technology|-19.136|
|Office Supplies|  20.34|
|Office Supplies|    9.6|
|Office Supplies|    9.9|
|Office Supplies|    0.0|
+---------------+-------+
only showing top 20 rows

In [38]:
# Perform GroupBy transformation
print("\nGrouped DataFrame:")
grouped_df = df_data.groupBy("Category").agg({"Profit": "sum"})
grouped_df.show()

Grouped DataFrame:
+---------------+------------------+
|       Category|       sum(Profit)|
+---------------+------------------+
|Office Supplies|516615.91190000053|
|      Furniture| 286439.8782000004|
|     Technology| 663712.0816800005|
+---------------+------------------+

In [39]:
# Perform OrderBy transformation
print("\nOrdered DataFrame:")
ordered_df = df_data.orderBy("Profit", ascending=False)
ordered_df.show()

Ordered DataFrame:
+------+---------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+----------------+--------------+-----------+------+------------+----------------+---------------+------------+--------------------+---------+--------+--------+---------+-------------+--------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|       Customer Name|    Segment|         City|           State|       Country|Postal Code|Market|      Region|      Product ID|       Category|Sub-Category|        Product Name|    Sales|Quantity|Discount|   Profit|Shipping Cost|Order Priority|
+------+---------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+----------------+--------------+-----------+------+------------+----------------+---------------+------------+--------------------+---------+--------+--------+---------+-------------+--------------+
| 38123| CA-2013-118689| 3/10/2013|10/10/2013|Standard Class|   TC-20980|        Tamara Chand|  Corporate|    Lafayette|         Indiana| United States|      47905|    US|     Central| TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 17499.95|       5|       0| 8399.976|       349.07|        Medium|
| 39450| CA-2014-140151|24-03-2014|26-03-2014|   First Class|   RB-19360|        Raymond Buch|   Consumer|      Seattle|      Washington| United States|      98115|    US|        West| TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 13999.96|       4|       0|6719.9808|         20.0|        Medium|
| 35487| CA-2014-166709|18-11-2014|23-11-2014|Standard Class|   HL-15040|        Hunter Lopez|   Consumer|       Newark|        Delaware| United States|      19711|    US|        East| TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 10499.97|       3|       0|5039.9856|       363.19|        Medium|
| 40336| CA-2013-117121|18-12-2013|22-12-2013|Standard Class|   AB-10105|       Adrian Barton|   Consumer|      Detroit|        Michigan| United States|      48205|    US|     Central| OFF-BI-10000545|Office Supplies|     Binders|GBC Ibimaster 500...|  9892.74|      13|       0|  4946.37|        498.7|        Medium|
| 35395| CA-2011-116904|23-09-2011|28-09-2011|Standard Class|   SC-20095|        Sanjit Chand|   Consumer|  Minneapolis|       Minnesota| United States|      55407|    US|     Central| OFF-BI-10001120|Office Supplies|     Binders|Ibico EPK-21 Elec...|  9449.95|       5|       0|4630.4755|       655.61|        Medium|
| 12069|ES-2014-1651774|  8/9/2014|14-09-2014|Standard Class|   PJ-18835|       Patrick Jones|  Corporate|        Prato|         Tuscany|         Italy|       NULL|    EU|       South| OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red|  7958.58|      14|       0|  3979.08|       778.32|           Low|
| 33920| CA-2014-127180|23-10-2014|25-10-2014|   First Class|   TA-21385|        Tom Ashbrook|Home Office|New York City|        New York| United States|      10024|    US|        East| TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...|11199.968|       4|     0.2|3919.9888|        45.98|          High|
| 31806| CA-2012-145352|16-03-2012|22-03-2012|Standard Class|   CM-12385|Christopher Martinez|   Consumer|      Atlanta|         Georgia| United States|      30318|    US|       South| OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...|  6354.95|       5|       0| 3177.475|       581.12|        Medium|
| 27720|  ID-2011-64599| 10/2/2011|15-02-2011|Standard Class|   CA-11965|         Carol Adams|  Corporate|         Fuji|        Shizuoka|         Japan|       NULL|  APAC|  North Asia| TEC-PH-10000303|     Technology|      Phones|Samsung Smart Pho...|  6998.64|      11|       0|  2939.31|        413.8|        Medium|
| 23212|  IN-2013-50809| 12/6/2013|17-06-2013|Standard Class|   CA-12775|     Cynthia Arntzen|   Consumer|         Kota|    Chhattisgarh|         India|       NULL|  APAC|Central Asia| TEC-PH-10000169|     Technology|      Phones|Apple Smart Phone...|  5751.54|       9|       0|  2817.99|       353.85|        Medium|
| 39785| CA-2013-158841|  2/2/2013|  4/2/2013|  Second Class|   SE-20110|        Sanjit Engle|   Consumer|    Arlington|        Virginia| United States|      22204|    US|       South| TEC-MA-10001127|     Technology|    Machines|"HP Designjet T52...|  8749.95|       5|       0| 2799.984|        17.83|      Critical|
| 50788|   MO-2014-2000|28-10-2014|30-10-2014|  Second Class|    DP-3105|        Dave Poirier|  Corporate|       Meknes|Mekn�s-Tafilalet|       Morocco|       NULL|Africa|      Africa|TEC-CAN-10001437|     Technology|     Copiers|Canon Wireless Fa...|  5301.24|      14|       0|  2597.28|       568.45|        Medium|
| 38963| US-2013-140158| 5/10/2013| 9/10/2013|Standard Class|   DR-12940|       Daniel Raglin|Home Office|   Providence|    Rhode Island| United States|       2908|    US|        East| TEC-CO-10001449|     Technology|     Copiers|Hewlett Packard L...|  5399.91|       9|       0|2591.9568|       254.03|        Medium|
| 37817| CA-2014-138289|17-01-2014|19-01-2014|  Second Class|   AR-10540|         Andy Reiter|   Consumer|      Jackson|        Michigan| United States|      49201|    US|     Central| OFF-BI-10004995|Office Supplies|     Binders|GBC DocuBind P400...|  5443.96|       4|       0|2504.2216|       567.95|          High|
| 13560|ES-2011-3248922|  8/9/2011| 11/9/2011|  Second Class|   ER-13855|   Elpida Rittenbach|  Corporate|         Lugo|         Galicia|         Spain|       NULL|    EU|       South| OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|  6517.08|      12|       0|  2476.44|        28.74|      Critical|
| 12383|ES-2012-5671193|29-05-2012|29-05-2012|      Same Day|   MG-18145|     Mike Gockenbach|   Consumer|        Luton|         England|United Kingdom|       NULL|    EU|       North| TEC-PH-10004823|     Technology|      Phones|Nokia Smart Phone...|  5724.54|       9|       0|  2461.32|         2.34|        Medium|
| 30958|  IN-2013-83191|16-12-2013|20-12-2013|Standard Class|   AS-10630|          Ann Steele|Home Office|    Whakatane|   Bay of Plenty|   New Zealand|       NULL|  APAC|     Oceania| TEC-PH-10002962|     Technology|      Phones|Motorola Smart Ph...|   6439.8|      10|       0|   2447.1|       255.36|        Medium|
| 32382| US-2013-143819|  2/3/2013|  6/3/2013|Standard Class|   KD-16270|       Karen Daniels|   Consumer|      Yonkers|        New York| United States|      10701|    US|        East| TEC-MA-10003979|     Technology|    Machines|Ativa V4110MDD Mi...|  4899.93|       7|       0|2400.9657|       466.33|        Medium|
| 35574| US-2013-107440|17-04-2013|21-04-2013|Standard Class|   BS-11365|        Bill Shonely|  Corporate|     Lakewood|      New Jersey| United States|       8701|    US|        East| TEC-MA-10001047|     Technology|    Machines|3D Systems Cube P...|  9099.93|       7|       0|2365.9818|       516.91|        Medium|
| 21263|  IN-2014-56206|24-06-2014|28-06-2014|Standard Class|   MB-17305|     Maria Bertelson|   Consumer|       Sydney| New South Wales|     Australia|       NULL|  APAC|     Oceania| FUR-BO-10001471|      Furniture|   Bookcases|Sauder Classic Bo...|  5486.67|      14|     0.1|  2316.51|        346.6|        Medium|
+------+---------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+----------------+--------------+-----------+------+------------+----------------+---------------+------------+--------------------+---------+--------+--------+---------+-------------+--------------+
only showing top 20 rows